@import (reference) '@cfpb/cfpb-design-system';

.o-multiselect_choices__bottom {
  li {
    margin-top: unit((8px / @base-font-size-px), em);
    margin-bottom: 0;

    &:first-child {
      margin-top: unit((10px / @base-font-size-px), em);
    }
  }
}
