.dropdown-option-container {
  width: 100%;
}

.dropdown-option-container--active {
  outline: 1px dotted #0072ce;
  outline-offset: 3px;
}

.dropdown-option--active + .a-label::before {
  border-color: #0072ce;
  box-shadow: 0 0 0 1px #0072ce;
}
