.dropdown-control {
  border-radius: 0 !important;
  border-width: 1px !important;
  width: 100% !important;
  border-color: #919395 !important;
  // outline: solid #919395 !important;
}

.dropdown-control:hover {
  outline: 2px solid #0072ce;
  outline-offset: 0;
}

.dropdown-indicator-separator {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  background: #919395 !important;
  border-color: inherit !important;
  width: 1px !important;
}

.dropdown-indicator-separator__none {
  width: 0px !important;
}

.dropdown-indicators-container {
  background: #e7e8e9 !important;
  border-left: #919395 1px solid;
}

.dropdown-dropdown-indicator {
  color: inherit !important;
  border-color: inherit !important;
}

.dropdown-value-container {
}

.dropdown-value-container--error {
  border-style: solid !important;
  border-color: #d14124 !important;
  // outline: solid #d14124 !important;
  border-width: 0.17em !important;
}

.dropdown-value-container--success {
}

.dropdown-clear-indicator-container {
  margin-left: 4px;
  margin-right: 4px;
}
