node_modules
.DS_Store
dist
dist-storybook
*.local
*.log
.eslintcache
coverage
.nyc_output
.stylelintcache
cypress/videos
.env
.pnp.*
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions