@use '@cfpb/cfpb-design-system/src/elements/abstracts' as *;
@use 'sass:math';

// https://github.com/cfpb/consumerfinance.gov/blob/main/cfgov/unprocessed/css/skip-nav.scss

.skip-nav {
  position: relative;

  &__link {
    position: absolute;
    top: auto;
    left: -10000px;
    height: 1px;
    width: 1px;
    overflow: hidden;
    background: transparent;
    transition: transform 1s ease, background 0.5s linear;
    z-index: 11;

    &:focus {
      // Taken from .a-btn__super.
      padding: math.div(11px, 18px) + em math.div(29px, 18px) + em;
      font-size: math.div(18px, $base-font-size-px) + em;
      top: 15px;
      left: 15px;
      height: auto;
      width: auto;
      overflow: visible;
      outline: 0;
      transition: transform 0.1s ease, background 0.2s linear;
      outline: 1px dotted var(--pacific);
      outline-offset: 1px;
    }

    &__flush-left:focus {
      left: 0;
    }
  }
}
