@use 'sass:math';
@use '@cfpb/cfpb-design-system/src/elements/abstracts/sizing-vars' as *;
@use '@cfpb/cfpb-design-system/src/elements/abstracts/grid-mixins' as *;

// TODO: Do we need to support non-12-column grids?
$one-column-width: math.div(100%, 12);

// Storybook styles to better visualize grid
.demo .col {
  background-color: var(--gray-5);

  p {
    background-color: var(--gray-10);
    font-weight: bold;
    text-align: center;
    max-width: 100% !important;
  }
}

.grid {
  // Match CFPB DS grid wrapper sizing
  @include u-grid-wrapper;
}

.grid .grid {
  padding-bottom: 15px;
}

@media (width >= 720px) {
  .grid .col {
    display: inline-block;
    box-sizing: border-box;
    border: solid transparent;
    border-width: 0 math.div($grid-gutter-width, 2);
    vertical-align: top;
    margin-bottom: 15px;
  }

  .col-1 {
    width: calc(1 * $one-column-width);
  }

  .col-2 {
    width: calc(2 * $one-column-width);
  }

  .col-3 {
    width: calc(3 * $one-column-width);
  }

  .col-4 {
    width: calc(4 * $one-column-width);
  }

  .col-5 {
    width: calc(5 * $one-column-width);
  }

  .col-6 {
    width: calc(6 * $one-column-width);
  }

  .col-7 {
    width: calc(7 * $one-column-width);
  }

  .col-8 {
    width: calc(8 * $one-column-width);
  }

  .col-9 {
    width: calc(9 * $one-column-width);
  }

  .col-10 {
    width: calc(10 * $one-column-width);
  }

  .col-11 {
    width: calc(11 * $one-column-width);
  }

  .col-12 {
    width: calc(12 * $one-column-width);
  }

  // Centered Grid
  .grid.centered {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .grid.centered .row {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  // Nested Subgrid
  .grid .grid {
    padding-bottom: 0;
  }
}
