@import (reference) url('@cfpb/cfpb-core/src/brand-colors.less');

.m-hero {
  --m-hero-background-color: @gray-30;
  background-color: @gray-30;
}

.m-hero__jumbo .m-hero_image,
.m-hero__50-50 .m-hero_image,
.m-hero__overlay .m-hero_image {
  display: block;
}

.m-hero__jumbo .m-hero_wrapper,
.m-hero__50-50 .m-hero_wrapper {
  border: 0
}