.u-layout-grid__breadcrumbs {
  padding: 1.875rem;

  .m-breadcrumbs {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: .875rem;
    gap: .625rem;
    min-height: 33px;
    position: relative;
  }
}

@media only screen and (width <= 56.25em) {
  .u-layout-grid__breadcrumbs {
    background: var(--gray-5);
    border-bottom: 1px solid var(--gray-40);
    margin-bottom: 1.875rem;
    padding: .9375rem;
  }
}
