@use '@cfpb/cfpb-design-system/src/elements/abstracts' as *;

.u-layout-grid__breadcrumbs {
  grid-area: c-breadcrumbs;
  padding: 1.875rem;

  .m-breadcrumbs {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 0.875rem;
    gap: 0.625rem;
    min-height: 33px;
    position: relative;
  }
}

@include respond-to-max($bp-sm-max) {
  .u-layout-grid__breadcrumbs {
    background: var(--gray-5);
    border-bottom: 1px solid var(--gray-40);
    margin-bottom: 1.875rem;
    padding: 0.9375rem;
  }
}
