@use '/src/assets/styles/variables.scss' as *;

$breakpoint: 56.3125em;
$menu-width: 100%;
$animation-duration: 0.3s;
$max-width: $breakpoint - 0.0625em;

.o-header-scope {
  .o-header__content {
    background-color: var(--white);
    height: auto;
    width: 100%;
    z-index: 1000;

    .navbar {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-size: 16px;

      @media (max-width: $max-width) {
        flex-direction: row;
        align-items: stretch;
        padding: 0;
        min-height: 60px;
      }

      @media (min-width: $breakpoint) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      .o-header__logo {
        min-width: 237px;

        @media (max-width: $max-width) {
          border-left: 1px solid var(--gray-40);
          padding-left: 15px;
          .o-header__logo-img {
            height: 40px;
          }
        }
      }

      .o-header__logo-img {
        height: 34px;
        margin-top: 10px;
        margin-bottom: 10px;
        vertical-align: middle;
      }

      @media (min-width: $breakpoint) {
        .o-header__logo-img {
          height: 50px;
        }
      }

      .menu-toggle {
        border: none;
        background-color: transparent;
        cursor: pointer;
        align-self: stretch;
        width: 54px;
        padding: 0 $space-sm;
        margin-bottom: 0;
        margin-right: 0;
        z-index: 1000; // Ensure it's above the overlay
        display: flex;
        align-items: center;
        justify-content: center;

        .cf-icon-svg {
          // make hamburger icon appear slightly bigger in mobile menu
          height: 21.38px;
        }

        &:hover,
        &[aria-expanded='true']:hover {
          background-color: var(--gray-20);
        }

        &[aria-expanded='true'] {
          background-color: var(--gray-10);
        }

        @media (min-width: $breakpoint) {
          display: none;
        }
      }

      .nav-items {
        @media (max-width: $max-width) {
          position: absolute;
          top: 54px;
          left: -$menu-width - 15;
          width: $menu-width;
          background-color: var(--white);
          border-top: 1px solid var(--gray-40);
          overflow-y: auto;
          padding-top: $space-sm;
          padding-left: $space-md;
          transition: left $animation-duration ease-in-out;
          z-index: 1000;
        }

        display: flex;
        flex-direction: column;
        width: 100%;

        &.open {
          display: flex;
          left: 0;
        }

        @media (min-width: $breakpoint) {
          position: static;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          width: auto;
          height: auto;
          background-color: transparent;
          overflow-y: visible;
        }

        .links {
          display: flex;
          flex-direction: column;
          width: 100%;
          padding: 0 0 $space-md;

          @media (min-width: $breakpoint) {
            flex-direction: row;
            justify-content: flex-end;
            align-items: baseline;
            width: auto;
            padding: 0;
          }

          a,
          .a-btn--link {
            position: relative;
            cursor: pointer;
            border-bottom: 1px solid var(--gray-40);
            font-weight: 500;
            color: var(--pacific);
            margin-right: 0;
            padding: 10px 0;
            text-align: left;

            @media (min-width: $breakpoint) {
              border-bottom: 1px dotted transparent;
              margin-right: $space-xl;
              padding: 0;
            }

            &:hover {
              position: relative;

              @media (max-width: $max-width) {
                &::before {
                  position: absolute;
                  top: 0;
                  left: -15px;
                  height: 100%;
                  width: 5px;
                  background-color: var(--green);
                  content: '';
                  display: block;
                }
                color: var(--black);
              }

              @media (min-width: $breakpoint) {
                border-bottom: 1px solid var(--pacific);
              }
            }

            &.nav-item.active {
              color: var(--black);

              @media (max-width: $max-width) {
                &::before {
                  position: absolute;
                  top: 0;
                  left: -15px;
                  height: 100%;
                  width: 5px;
                  background-color: var(--black);
                  content: ' ';
                  display: block;
                }
              }

              @media (min-width: $breakpoint) {
                border-bottom: 2px solid var(--black);
              }
            }
          }

          .a-btn {
            font-weight: 500;
          }

          .a-btn--link {
            text-decoration: none;
            font-size: 14px;
            justify-content: left;
            line-height: normal;
            width: auto;
          }

          & > *:first-child {
            border-top: 0 dotted var(--pacific);

            @media (min-width: $breakpoint) {
              border-top: none;
            }
          }

          & > *:last-child {
            margin-right: 0;
          }

          .profile {
            span {
              display: none;
            }
            &::after {
              content: 'Profile';
            }

            @media (min-width: $breakpoint) {
              span {
                display: inline;
              }
              &::after {
                content: '';
              }
            }
          }
        }
      }
    }
  }

  .menu-overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 50%);
    z-index: 999;
    opacity: 0;
    transition: opacity 1s ease-in-out;

    &.open {
      display: block;
      opacity: 1;
    }

    @media (min-width: $breakpoint) {
      display: none !important;
    }
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: inset(50%);
    white-space: nowrap;
    border-width: 0;
  }
}
