@import (reference) '/src/assets/styles/_shared.less';

.navbar {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding-bottom: @space-sm;

  .nav-items {
    display: flex;
    flex-flow: row;
  }

  .nav-item {
    margin-right: @space-xl;
    letter-spacing: unit((1px / @base-font-size-px), em);
  }

  .user-actions :last-child {
    margin-right: 0;
  }

  .a-link {
    color: @gray-dark;
    font-weight: 600;
  }

  .a-link:not(.o-header_logo):hover {
    color: @pacific-90;
    border-bottom: 1px dashed;
  }

  .a-link:focus {
    color: @pacific-90;
  }

  .a-link.selected {
    border-bottom: 3px solid @gray-dark;
  }

  .username {
    font-size: unit((16px / @base-font-size-px), em);
    margin-right: @space-xl;
    font-weight: 400;
    line-height: unit((22px / @base-font-size-px), em);
  }
}
