@use '/src/assets/styles/variables.scss' as *;

$breakpoint: 56.3125em;

.navbar-static {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 16px;
  padding-bottom: $space-sm;
  padding-left: $space-sm;

  @media (min-width: $breakpoint) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;

    .o-header__logo {
      min-width: 237px;
    }
  }

  .nav-items {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (min-width: $breakpoint) {
      flex-direction: row;
      justify-content: flex-end;
    }

    .links {
      display: flex;
      flex-direction: column;
      width: 100%;

      a,
      .a-btn--link {
        cursor: pointer;
        border-bottom: 1px dotted var(--pacific);
        font-weight: 500;
        color: var(--pacific);
        margin-right: 0;
        padding: 10px 0;
        text-align: left;
        text-decoration: none;
        @media (min-width: $breakpoint) {
          border-bottom: 1px dotted transparent;
          margin-right: $space-xl;
          padding: 0;
        }
      }
      a:hover,
      .a-btn--link:hover {
        border-bottom: 1px solid var(--pacific);
        position: relative;

        &:before {
          position: absolute;
          top: -1px;
          content: '';
          display: block;
          height: 1px;
          width: 100%;
          border-top: 1px solid var(--pacific);

          @media (min-width: $breakpoint) {
            border-top: 1px solid transparent;
          }
        }
      }
      a.active {
        color: #101820;

        @media (min-width: $breakpoint) {
          border-bottom: 2px solid #101820;
        }
      }
      .a-btn--link {
        font-size: 14px;
        justify-content: left;
        line-height: 22px;
        width: auto;
      }

      @media (min-width: $breakpoint) {
        flex-direction: row;
        justify-content: flex-end;
        width: auto;
      }
    }

    .links > *:first-child {
      border-top: 1px dotted var(--pacific);
      @media (min-width: $breakpoint) {
        border-top: none;
      }
    }

    .links > *:last-child {
      margin-right: 0;
    }
  }
}
