@use '/src/assets/styles/variables.scss' as *;
@use '@cfpb/cfpb-design-system/src/elements/abstracts' as *;
@use '@cfpb/cfpb-design-system/src/utilities' as *;
@use '@cfpb/cfpb-design-system/src/components/cfpb-typography/mixins' as *;
@use 'sass:math';

// https://github.com/cfpb/consumerfinance.gov/blob/main/cfgov/unprocessed/css/organisms/footer.scss

/* ==========================================================================
   consumerfinance.gov
   footer
   ========================================================================== */

/* topdoc
  name: CF.gov site-wide footer.
  family: cfgov-organisms
  patterns:
    - notes:
        - "For the markup please see _layouts/organisms/footer.html."
  tags:
    - cfgov-organisms
*/

.o-footer {
  // Adding an extra 5px to the top to account for the absolute positioned
  // social media icons.
  padding-top: math.div(50px, $base-font-size-px) + em;
  // There is a 10px margin-bottom on the  last .o-footer__list li's, plus the
  // 50px bottom padding = 60px of total padding at the bottom of the footer.
  padding-bottom: math.div(50px, $base-font-size-px) + em;
  border-top: 5px solid var(--green);
  background: var(--gray-5);

  &__nav-list {
    .m-list__link {
      font-size: math.div(18px, $base-font-size-px) + em;
      @include u-link-colors(var(--black));

      @include respond-to-min($bp-sm-min) {
        margin-right: 1em;

        @include u-link-hover-border();
      }

      @include respond-to-min($bp-med-min) {
        margin-right: math.div($grid-gutter-width, 22px) + em;
        font-size: math.div(20px, $base-font-size-px) + em;
      }
    }

    .m-list__link.m-list__link--disabled {
      border-bottom: 1px dotted;

      @include respond-to-min($bp-med-min) {
        @include u-link-no-border();
      }
    }
  }

  &__list {
    .m-list__link {
      @include u-link-colors(var(--gray-dark));
    }
  }

  &__pre {
    position: relative;
    margin-bottom: math.div(45px, $base-font-size-px) + em;

    .o-footer__top-button {
      display: block;
      width: 100%;
      text-align: center;
      // There's a standard margin between the top
      // of the footer and the links. The button comes between
      // that margin in the wireframes.
      margin: -2em auto 2em;
    }

    .o-footer__nav-list {
      margin-bottom: 0;
    }

    @include respond-to-min($bp-sm-min) {
      padding-bottom: math.div($grid-gutter-width, $base-font-size-px) + em;
      margin-bottom: math.div($grid-gutter-width, $base-font-size-px) + em;

      border-bottom: 1px solid var(--gray-40);

      .o-footer__top-button {
        display: none;
      }

      .o-footer__nav-list {
        .m-list__item {
          margin-bottom: 0;
        }
      }
    }

    @media print {
      // !important used here to avoid being overriden by a much more specific
      // selector that sets the display property for this element
      // and to avoid using a selector that specific here.
      display: none !important;
    }
  }

  // TODO: Refactor to use Design System Layout package.
  &__middle-left {
    .o-footer__list {
      margin: 0;
    }

    /* Fix doubled border in mobile view */
    @include respond-to-max($bp-xs-max) {
      .o-footer__col:nth-child(n + 2) {
        .o-footer__list {
          .m-list__item .m-list__link {
            border-top-width: 0;
          }
        }
      }
    }

    @include respond-to-min($bp-sm-min) {
      @include u-grid-column(8);
      border-right: 1px solid var(--gray-40);
      border-left: 0;

      .o-footer__col {
        @include u-grid-column(6);
        border-left: 0;
        border-right: 0;
        padding-right: math.div(
            math.div($grid-gutter-width, 2),
            $base-font-size-px
          ) + em;
      }
    }

    @media print {
      // !important used here to avoid being overriden by a much more specific
      // selector that sets the display property for this element
      // and to avoid using a selector that specific here.
      display: none !important;
    }
  }

  &__middle-right {
    /* Fix doubled border in mobile view */
    @include respond-to-max($bp-xs-max) {
      .o-footer__list {
        .m-list__item .m-list__link {
          border-top-width: 0;
        }
      }
    }

    @include respond-to-min($bp-sm-min) {
      @include u-grid-column(4);

      .o-footer__list {
        padding-left: $grid-gutter-width;
        padding-right: $grid-gutter-width;
      }
    }

    @media print {
      // !important used here to avoid being overriden by a much more specific
      // selector that sets the display property for this element
      // and to avoid using a selector that specific here.
      display: none !important;
    }
  }

  &__post {
    margin-top: math.div($grid-gutter-width, $base-font-size-px) + em;

    @include respond-to-min($bp-sm-min) {
      padding-top: math.div($grid-gutter-width, $base-font-size-px) + em;
      border-top: 1px solid var(--gray-40);
    }

    @media print {
      padding: 0;
      border: none;
      margin: 0;
    }
  }
}

/* topdoc
    name: EOF
    eof: true
*/

.o-footer .cf-icon-svg--external-link {
  margin-left: 3px;
}

@media (max-width: $bp-sm-min - 1) {
  .o-footer {
    .m-list__link,
    .o-footer-post,
    .m-social-media {
      padding-left: $space-sm;
    }

    .o-footer__top-button {
      width: 95%;
    }
  }
}
