// WARNING: Styles in this file are intentional overrides of the CFPB Design System

@import (reference) "@cfpb/cfpb-design-system/src/cfpb-design-system.less";

.text-intro.block {
  margin-top: 0px;
}

.text-intro .lead-paragraph,
.text-intro p {
  margin-bottom: 15px;
  margin-top: 0;
}

.text-intro p + ul {
  margin-top: 15px;
}
